<style>
#grad1 {
  background-color: red;
  background-image: radial-gradient(#ddfbfc, white);
}
</style>

<div id="grad1" class="ui raised padded text segment" style="
width:40%;
height: 50%;
margin: auto;
position: relative;
float: right;">
  <canvas
      baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [colors]="pieChartColors"
      [legend]="pieChartLegend">
  </canvas>
</div>
