<div style="background-color: LightGreen; width: 282px; height: 500px;">
    <form class="ui form" style="padding: 20px;">

        <div class="field">
            <label for="email"> Email address: </label>
            <input type="text" name="email" placeholder="E-mail address.."/>
        </div>

        <div class="field">
            <label for="pass"> Password: </label>
            <input type="password" name="pass" placeholder="Password.."/>
        </div>

        <button class="ui secondary button small"> Log In </button>
        <p> Forgot your password? </p>
        <p> Create an account </p>


        <div>

            <button class="ui facebook button" style="margin-bottom: 5px; width: 100%;">
                <i class="facebook icon"></i>
                Continue with Facebook
            </button>

            <button class="ui twitter button" style="margin-bottom: 5px; width: 100%;">
                <i class="twitter icon"></i>
                Twitter
            </button>
            
            <button class="ui google plus button" style="margin-bottom: 5px; width: 100%;">
                <i class="google plus icon"></i>
                Continue with Google
            </button> <br/>
            
            <button class="ui linkedin button" style="margin-bottom: 5px; width: 100%;">
                <i class="linkedin icon"></i>
                Continue with LinkedIn
            </button>
            
            <button class="ui instagram button" style="margin-bottom: 5px; width: 100%;">
                <i class="instagram icon"></i>
                Continue with Instagram
            </button>

        </div>

    </form>
</div>
