
<style>
    td:first-child,
    th:first-child {
        position: sticky;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: rgb(167, 163, 163);
    }

    td:nth-child(2),
    th:nth-child(2) {
        position: sticky;
        left: 57px;
        width: 100%;
        z-index: 1;
        background-color: rgb(167, 163, 163);
    }

    td {
        white-space: nowrap;
    }

    table {
        border: 1px solid black;
        height: auto;
        max-width: 850px;
        max-height: 310px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        overflow-y: scroll;
    }
    
</style>

<div calss="ui raised padded text segment" style="margin-top: 90px; position: fixed; margin-left: 180px; width: 1000px; height: 600px;">

    <div style="overflow: hidden; width: 100%; height: 70px; margin-top: 10px;">

        <div class="incidentsBtns"
            style="height: 50px; width: 100%; margin-top: 10px; margin-bottom: 10px; margin-right: 10px;">
            <button class="ui button" style="float: left; margin-top: 10px; margin-right: 8%;">
                <i class="plus circle icon"></i>
                NEW
            </button>
            <div class="ui buttons">
                <button class="ui button" style="float: left; margin-top: 10px;"> All </button>
                <button class="ui button" style="float: left; margin-top: 10px;"> Mine </button>
            </div>

            <button class="ui button" style="float: right; margin-top: 10px; margin-right: 34%;">
                <i class="filter icon"></i>
                FILTER
            </button>
        </div>
    </div>

    <div class="tableDiv" style="width: 100%; height: 60%; ">
        <table class="ui sortable celled table" >
            <thead>
                <tr>
                    <th>I D</th>
                    <th>Start Date</th>
                    <th>Phone No.</th>
                    <th>Status</th>
                    <th>Address</th>
                    <th>Info</th>
                    <th>Info</th>
                    <th>Info</th>
                    <th>Info</th>
                    <th>Info</th>
                    <th>Info</th>
                    <th>Info</th>
                    <th>Info</th>
                    <th>Info</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>WR 1</td>
                    <td>13.08.2019.</td>
                    <td>1234566545654</td>
                    <td>In progress</td>
                    <td>Mise Dimitrijevica 3c</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>

                </tr>
               
                <tr>
                    <td>WR 1</td>
                    <td>13.08.2019.</td>
                    <td>1234566545654</td>
                    <td>In progress</td>
                    <td>Mise Dimitrijevica 3c</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                </tr>
                <tr>
                    <td>WR 1</td>
                    <td>13.08.2019.</td>
                    <td>1234566545654</td>
                    <td>In progress</td>
                    <td>Mise Dimitrijevica 3c</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                </tr>
                <tr>
                    <td>WR 1</td>
                    <td>13.08.2019.</td>
                    <td>1234566545654</td>
                    <td>In progress</td>
                    <td>Mise Dimitrijevica 3c</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                </tr>
                <tr>
                    <td>WR 1</td>
                    <td>13.08.2019.</td>
                    <td>1234566545654</td>
                    <td>In progress</td>
                    <td>Mise Dimitrijevica 3c</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                </tr>
                <tr>
                    <td>WR 1</td>
                    <td>13.08.2019.</td>
                    <td>1234566545654</td>
                    <td>In progress</td>
                    <td>Mise Dimitrijevica 3c</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                    <td>Bice tesko</td>
                </tr>
            </tbody>

        </table>
    </div>

    <div class="pagingDiv" style="height: 150px; " >
        <p>
           Ovde treba da ide paging
        </p>
    </div>

</div>


 