<div class="ui raised very padded text container segment" style="margin-top: 18px;">

    <!-- HEADER OF LOGIN SEGMENT -->
    <div class="ui sizer vertical segment">
        <hr/>
            <div>
                <h1 class="center ui huge header" style="margin-left: 160px;"> Work in progress.. :D </h1>
            </div>
        <hr/>
        <br/>
        <br/>

        <div style="background-color: LightGreen; height: 40px; padding: 10px;">
            <h3 class="center ui small header" style="margin-left: 200px;"> Electricity for the future </h3>
        </div>
    </div>

    <div style="overflow: hidden; margin-top: 50px;">
        
        <div style="float: left; margin-right: 20px; margin-top: 25px;">
            <img style="width: 250px; height: 200px;" src="https://www.glas-javnosti.rs/uploads/images/0/2020_06_11/Nikola-Tesla-WIKI.png">
            
            <div class="ui blue segment tiny" style="width: 250px; margin-top: 5px;">
                <p> "Ako stavite viljušku u šteker, udariće vas struja" </p>
                <p>  - Nikola Tesla, 19. vek </p>
            </div>
        
            <br/>
        
            <button class="ui button green"> <i class="phone icon"></i> Report a problem </button>
        </div>

        <div style="float: left; margin-left: 50px;">
            <app-login-form></app-login-form>
        </div>

    </div>

</div>
