<div style="margin-top: 90px; position: fixed; margin-left: 180px; width: 1000px; height: 600px;">
    <div style="width: 100px;">
        <h3 style="text-align: center; margin-top: 20px;">DOCUMENTS</h3>
    </div>

    <div class="documentsBtns"
        style="height: 50px; width: 100%; margin-top: 10px; margin-bottom: 10px; margin-right: 10px;">

        <button style="float: left; margin-top: 30px; margin-right: 8%" class="ui green button">
            <i class="folder outline icon"></i>
            <a class="item" href="/workwarrant" style="color: rgb(44, 41, 190);"> WORK WARRANT </a>
        </button>

        <button style="float: left; margin-top: 30px; margin-right: 8%" class="ui green button">
            <i class="file icon"></i>
            <a class="item"  style="color: rgb(44, 41, 190);"> WORK PLAN </a>
        </button>

        <button style="float: left; margin-top: 30px; margin-right: 8%" class="ui green button">
            <i class="shield alternate icon"></i>
            <a class="item"  style="color: rgb(44, 41, 190);"> SAFETY DOCUMENTS </a>
        </button>
    </div>

</div>